[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djoser = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pillow = "*"
dj-database-url = "*"
whitenoise = "*"
djangorestframework = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.14"
