[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
npm = "*"
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
dotenv = "*"
psycopg = {extras = ["binary"], version = "*"}
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.14"
